{% extends 'base.html' %}

{% block content %}
    {% for post in all_post_list %}
        <div class="post-entry">
            <h2><a href="{% url 'post-details' post.id %}">{{ post.title }}</a></h2>
            <p>{{ post.body }}</p>
        </div>
    {% endfor %}
{% endblock %}